body {
    background: #FFF 
    none repeat scroll 0% 0%;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

img {
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	text-align: center;
}

.navlist li { 
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 30px;
    size: 30px;
}

a, a:visited {
    color: #000;
    font-size: 23px;
    text-decoration: none;
}
a:hover {text-decoration: underline;}

ul {list-style: none;}
dl {width : 960px; margin: 30px auto;}
dt {font-size: 27px;}


.block {
    position: relative;
    margin: auto 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #FFF;
    color: #000;
    text-align: left;
}

.brown {
    background-color: #5E412F;
    color: #FCEBB6;
}

.cream {
    background-color: #FCEBB6;
    color: #5E412F;
}

.blue {
    background-color: #65B7F4;
    color: #06406C;
}

.dark-blue {
    background-color: #06406C;
    color: #65B7F4;
}

.dark-green {
    background-color: #607848;
    color: #D1E875;
}

.dark-green {
    background-color: #607848;
    color: #D1E875;
}

.green {
    background-color: #789048;
    color: #31440B;
}

.light-green {
    background-color: #C0D860;
    color: #29310B;
}

.blue {
    background-color: #65B7F4;
    color: #06406C;
}

table {
    width: 700px;
    margin: 30px auto;
    border-collapse: collapse;
}

table tr, table th, table td {
    padding: 5px;
}

code {
    background-color: #000;
    font-style: normal;
    border-radius: 15px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}
