body /* Fond, taille et police ect sur le body */
{
    background: #FFF 
    none repeat scroll 0% 0%;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

img /* affichage image */
{
	display:block;
	width: auto;
	margin-left:auto;
	margin-right:auto;
}

h1 /* titre centré */
{
	text-align: center;
}

.navlist li /* navigation */
{ 
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 30px;
    size: 30px;
}

a, a:visited /* couleur, taille liens visité */
{
    color: #000;
    font-size: 23px;
    text-decoration: none;
}

a:hover /* decoration liens survolé */
{
    text-decoration: underline;
}

ul {list-style: none;}
dl {width : 960px; margin: 30px auto;}
dt {font-size: 27px;}


.block /* taile padding margin background du block */
{
    position: relative;
    margin: auto 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #FFF;
    color: #000;
    text-align: left;
}

.brown /* couleur du block */
{
    background-color: #5E412F;
    color: #FCEBB6;
}

.cream /* couleur du block */
{
    background-color: #FCEBB6;
    color: #5E412F;
}

.blue /* couleur du block */
{
    background-color: #65B7F4;
    color: #06406C;
}

.dark-blue /* couleur du block */
{
    background-color: #06406C;
    color: #65B7F4;
}

.dark-green /* couleur du block */
{
    background-color: #607848;
    color: #D1E875;
}

.dark-green /* couleur du block */
{
    background-color: #607848;
    color: #D1E875;
}

.green /* couleur du block */
{
    background-color: #789048;
    color: #31440B;
}

.light-green /* couleur du block */
{
    background-color: #C0D860;
    color: #29310B;
}

.blue /* couleur du block */
{
    background-color: #65B7F4;
    color: #06406C;
}

table /* taille du tableau */
{
    width: 700px;
    margin: 30px auto;
    border-collapse: collapse;
}

table tr, table th, table td /* paddind du tableau */
{
    padding: 5px;
}

code /* couleur fond ect du code */{
    background-color: #000;
    font-style: normal;
    border-radius: 15px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}
